.footerContainer {
    width: 100%;
    margin: 3rem 0 0 0;
    background-color: var(--image-bg);
}

.innerContainer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0 1rem 0;
}

.linksContainer {
    display: none;
    border-bottom: 1px solid var(--image-bg);
    width: 90%;
    margin: 1rem auto 0 auto;
}

.link {
    margin-bottom: .5rem;
    font-size: .9rem;
}

.link a{
    color: var(--white);
}

.footerLogo {
    font-size: 1.5rem;
    color: var(--white);
    letter-spacing: .02em;
    font-weight: 600;
    line-height: 1rem;
    cursor: pointer;
}

.highlight {
    color: var(--primary);
    font-size: 3rem;
}

.socialLinks {
    display: flex;
    align-items: center;
}

.socialLink {
    margin: 0 .75rem;
}

.socialLink img {
    width: 1rem;
    height: auto;
    object-fit: contain;
}

.footerText {
    margin: 1rem 0;
    text-align: center;
    font-size: .8rem;
    font-weight: 300;
    color: var(--text-light-grey-2);
    padding: 1rem 0;
}

@media only screen and (min-width: 768px){
    .footerLogo {
        font-size: 2rem;
        line-height: 1.5rem;
    }
}


