.graduatesContainer {
    color: var(--white);
    width: 90%;
    margin: 2rem auto 0 auto;
}

.heading {
    font-size: 2.5rem;
    letter-spacing: .01em;
    line-height: 4.5rem;
    font-weight: 500;
    text-transform: lowercase;
    text-align: center;
    margin-bottom: 3rem;
}

.content {
    font-size: 1rem;
    line-height: 2rem;
}

.teamContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1.5rem;
    margin: 3rem auto 0 auto;
    padding-bottom: 5rem;
}

.card {
    width: 100%;
    position: relative;
    margin: 1rem 0;
}

.image {
    width: 100%;
    min-width: 200px;
    height: 15rem;
    object-fit: cover;
    object-position: top;
    border-radius: .75rem;
}

.infoContainer {
    position: absolute;
    width: 100%;
    bottom: .75rem;
    left: 0;
}

.infoInner {
    width: 95%;
    margin: 0 auto;
    padding: .5rem;
    background-color: var(--off-white);
    border-radius: .75rem;
    text-align: center;
}

.name {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--black);
}

.role {
    font-size: .9rem;
    font-weight: 400;
    color: var(--black);
}

@media only screen and (min-width: 600px) {
    .teamContainer {
        flex-direction: row;
    }

    .card {
        width: calc(40% - 1.5rem);
        position: relative;
        margin: 1rem 0;
    }
}

@media only screen and (min-width: 768px) {
    .heading {
        font-size: 3.5rem;
    }
    
    .teamContainer {
        flex-direction: row;
    }
    
    .card {
        width: calc(30% - 1.5rem);
        position: relative;
        margin: 1rem 0;
    }
    
    .image {
        width: 100%;
        min-width: 200px;
        height: 15rem;
        object-fit: cover;
        object-position: top;
        border-radius: .75rem;
    }
}

@media only screen and (min-width: 1000px) {    
    .card {
        width: calc(25% - 1.5rem);
        position: relative;
        margin: 1rem 0;
    }
}
