.CTAContainer {
  width: 100%;
  padding: 2rem;
  padding-top: 0;
}

.innerCTA {
  width: 90%;
  margin: 3rem auto;
}

.heading {
  font-size: 1.25rem;
  color: var(--primary);
  font-weight: 500;
}

.subHeading {
  font-size: 1.1rem;
  color: var(--primary);
  font-weight: 700;
  margin-bottom: 1rem;
}

.listParentContainer {
  padding-left: 0.5rem;
}

.tick {
  width: 1.4rem;
  height: 1.4rem;
}

.listContainer {
  display: inline-flex;
  gap: 0.5em;
  margin-block: 0.25rem;
}

.listItem {
  color: var(--white);
  font-weight: 500;
  line-height: 1.3rem;
}

.cardContainer {
  display: grid;
  gap: 2rem;
  row-gap: 3.5rem;
  grid-template-columns: 1;
  margin-top: 1rem;
}

.card {
  background-color: #473e3a;
  border-radius: 10px;
  padding: 2rem 1rem;
}

.applicationOpenContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
}

.paragraph {
  color: var(--white);
  font-weight: 500;
  margin-block: 0.5rem;
}

.pricing {
  font-size: 1.25rem;
  line-height: 2rem;
  display: block;
  color: var(--white);
  font-weight: 500;
  margin-block: 0.25rem;
}

.pricing::after {
  content: '(3 Months No-cost EMI options available)';
  display: block;
  font-size: .8rem;
  font-weight: 300;
}

.cta {
  display: inline-block;
  padding: 0.6rem 1.5rem;
  font-family: inherit;
  border-radius: 10px;
  font-size: 0.85rem;
  font-weight: 700;
  background-color: var(--primary);
  width: max-content;
}

.scholarshipContainer {
  display: flex;
  flex-direction: column;
}

.scholarship {
  display: inline-block;
  margin-left: 0;
  margin-top: .5rem;
  line-height: 1rem;
  font-size: .8rem;
  color: var(--primary);
}

.infoCard {
  background-color: white;
  width: 100%;
  color: black;
  padding: .5rem;
  border-radius: 6px;
  position: absolute;
  top: 1.5rem;
  right: 0;
  opacity: 0;
  pointer-events: none;
  font-weight: 500;
}


.infoCard p {
  margin: .5rem 0;
  font-size: .8rem;
}

.line {
  margin: .75rem 0 !important;
}

.scholarshipContainer img {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  vertical-align: middle;
  margin-left: .5rem;
  cursor: pointer;
}

.scholarshipContainer img:hover + .infoCard {
  opacity: 1;
  pointer-events: all;
}

.scholarship {
  position: relative;
}

@media only screen and (min-width: 768px) {
  .heading {
    font-size: 2rem;
    letter-spacing: 0.02em;
    display: block;
    position: static;
  }

  .subHeading {
    font-size: 1.5rem;
    letter-spacing: 0.02em;
    display: block;
    position: static;
    margin-bottom: 1.5rem;
  }

  .listItem {
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: 0.02em;
    display: block;
    position: static;
  }

  .listContainer {
    margin-block: 0.5rem;
  }

  .cardContainer {
    margin-top: 2rem;
    display: grid;
    gap: 2rem;
    row-gap: 3.5rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }

  .tick {
    width: 1.5rem;
    height: 1.5rem;
  }

  .paragraph {
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: 0.02em;
    margin-block: 1rem;
  }

  .pricing {
    font-size: 2rem;
  }

  .cta {
    font-size: 1.5rem;
    letter-spacing: 0.02em;
    padding: 0.75rem 2rem;
  }

  .card {
    background-color: #473e3a;
    border-radius: 10px;
    padding: 2rem;
  }

  .scholarshipContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .scholarship {
    display: inline-block;
    margin-left: 1.5rem;
    line-height: 1rem;
    font-size: 1rem;
    margin-top: 0rem;
    color: var(--primary);
  }

  .infoCard {
    background-color: white;
    width: 200%;
    color: black;
    padding: .5rem;
    border-radius: 6px;
    position: absolute;
    top: 1.5rem;
    right: 0;
    opacity: 0;
    pointer-events: none;
    font-weight: 500;
  }

  
  .infoCard p {
    margin: .5rem 0;
    font-size: .8rem;
  }
  
  .line {
    margin: .75rem 0 !important;
  }

  .scholarshipContainer img {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    vertical-align: middle;
    margin-left: .5rem;
    cursor: pointer;
  }

  .scholarshipContainer img:hover + .infoCard {
    opacity: 1;
    pointer-events: all;
  }

  .scholarship {
    position: relative;
  }
}
