.subCTAContainer {
    width: 85%;
    margin: 0 auto;
}

.first {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 600;
    position: relative;
    transition: transform .3s ease;
    display: inline-flex;
    align-items: center;
}

.subCTAContainer span {
    color: var(--white);
    display: inline-block;
    margin-left: .25rem;
    font-size: 2rem;
    transition: transform .3s ease;
}

.first:hover {
    transform: translateY(-.25rem);
}

.first:hover + span {
    transform: translateX(.5rem);
}

@media (min-width: 768px) {
    .first::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        background-color: var(--white);
        height: 2px;
        bottom: -.1rem;
    }
}