.scheduleContainer {
    width: 90%;
    margin: 2rem auto 4rem auto;
    color: white;
}

.heading {
    font-size: 2rem;
    text-align: center;
    color: var(--primary);
    font-weight: 500;
    letter-spacing: .02em;
    display: block;
    position: static;
}

.scheduleInnerContainer {
    width: 75%;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 4rem;
    background-color: var(--dull-bg-1);
    border-radius: 1rem;
}

.header {
    display: flex;
    align-items: center;
    gap: 0rem;
}

.month {
    flex: 1;
    flex-shrink: 1;
    text-align: center;
    margin: 1rem 0;
}

.month input[type="radio"]{
    appearance: none;
}

.month label {
    padding: .5rem 1rem;
    border: 2px solid var(--text-light-grey-2);
    border-radius: .25rem;
    cursor: pointer;
    font-weight: 600;
}

.month .active + label {
    background-color: var(--primary);
    border: 2px solid var(--primary);
    color: var(--black);
}

.main {
    margin-top: 3rem;
    height: 15rem;
    margin-left: 3rem;
}

.main p {
    margin: 1rem 0;
}
