.navbarContainer {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    margin: 0rem auto;
}

.logo {
    color: var(--white);
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: .02em;
}

.highlight {
    color: var(--primary);
    font-size: 3rem;
}

.exploreButton {
    padding: .6rem 2rem;
    color: var(--white);
    background: linear-gradient(97.36deg, var(--fire-gradient-start) 15.77%, var(--fire-gradient-end) 156.09%);
    background: -moz-linear-gradient(0deg, var(--fire-gradient-start) 20%, var(--fire-gradient-end) 100%);
    background: -webkit-linear-gradient(0deg, var(--fire-gradient-start) 20%, var(--fire-gradient-end) 100%);
    border-radius: 8px;
    font-size: 1rem;
    transition: all 200ms;
    display: none;
}

.exploreButton:hover {
    opacity: 0.9;
}

@media only screen and (min-width: 768px) {
    .exploreButton {
        display: block;
    }
}
