@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --grey: #111111;
  --text-grey: #c1c1c1;
  --text-light-grey: #dedede;
  --text-light-grey-2: #8f8f8f;
  --black: #000000;
  --white: #ffffff;
  --primary: #ffac2f;
  --secondary: #f88912;
  --tertiary: #DD8330;
  --tertiary-2: #B77718;
  --fire-gradient-start: #FF3115;
  --fire-gradient-end: #FFD339;
  --image-bg: #5151513d;
  --icon-dull: #ffac2f57;
  --transparent-white: #ffffff0d;
}

html, body {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: var(--grey);
}

body {
  position: relative;
  z-index: -2;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  -webkit-text-size-adjust: auto;
  -moz-text-size-adjust: auto;
  -ms-text-size-adjust: auto;
  text-size-adjust: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--black);
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  font-family: inherit;
}

input {
  outline: none;
}

/* SCROLLBAR STYLES */
* {
  /* firefox */
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) rgba(0, 0, 0, 0.2);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}